.panel {
  background-color: rgb(118, 118, 118);
  color: #fff;
  padding: 1.2rem;
}

.header {
  margin-bottom: 2.2rem;
	text-align: center;
}

.entityName {
  font-size: 1.5rem;
	margin-bottom: 0.4rem;
}

.state {
	font-size: 0.8rem;
	font-weight: 500;
	letter-spacing: 1.5px;
	text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .panel {
    position: absolute;
		top: 25px;
		right: 0;
		width: 350px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		overflow: auto;
		min-height: calc(100vh - 80px);
  }
}
