.panel {
	background-color: rgb(214, 214, 206);
	display: flex;
	flex-direction: column;
	padding: 1.2rem;
}

.minimizeButtonContainer {
  display: none;
}

.header {
  text-align: center;
}

.title {
  font-size: 1.5rem;
	margin-bottom: 0.2rem;
}

.shield {
  color: rgb(128, 0, 0);
	margin-left: 0.5rem;
}

.subtitle {
	font-size: 0.8rem;
	font-weight: 500;
	letter-spacing: 1.5px;
  text-transform: uppercase;
}

.footer {
  display: flex;
	flex-direction: column;
	text-align: center;
  padding-top: 2rem;
	text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .panel {
    border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		height: calc(100vh - 80px);
		position: absolute;
		top: 25px;
		width: 300px;
		z-index: 1;
  }

  .minimizeButtonContainer {
    align-items: center;
		background-color: rgb(214, 214, 206);
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		display: flex;
		font-size: 1rem;
		height: 30px;
		justify-content: center;
		width: 22px;
    z-index: 5;
    
		position: absolute;
		right: -1.3rem;
		top: calc(50%);
  }  
}
